@-webkit-keyframes progress-bar-stripes {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}
.progress-bar-striped {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
  &.disabled {
    opacity: .9 !important;
  }
  span {
    opacity: .5;
  }
}
hr {
  border-top-color: rgba(0, 0, 0, .1);
  box-shadow: none;
}
